<header>
  <button id="menuButton" class="menuButton">Menu</button>
</header>

<!-- Модальное окно Header -->
<div id="headerModal" class="modal headerModal">
  <div class="modal-content headerContent">
    <span id="headerCloseButton" class="close">&times;</span>
    <nav class="headerNav">
      <ul class="headerNavList">
        <li><a href="#aboutMe">About Me</a></li>
        <li><a href="#benefits">Benefits</a></li>
        <li><a href="#projects">Projects</a></li>
        <li><a href="#faq">FAQ</a></li>
      </ul>
    </nav>
  </div>
</div>

<!-- Секции для якорей -->
<section id="aboutMe">About Me Section</section>
<section id="benefits">Benefits Section</section>
<section id="projects">Projects Section</section>
<section id="faq">FAQ Section</section>
