<!---Mobile menu-->
<div class="menu-burger">
    <div class="blur-strip-container modal">
    <div class="blur-strip modal"></div>
    <div class="blur-strip modal"></div>
    <div class="blur-strip modal"></div>
    <div class="blur-strip modal"></div>
    <div class="blur-strip modal"></div>
    <div class="blur-strip modal"></div>
    <div class="blur-strip modal"></div>
    <div class="blur-strip modal"></div>
    <div class="blur-strip modal"></div>
    <div class="blur-strip modal"></div>
  </div>
    <div class="menu-burger-container js-burger-container" id="burger-menu">
        <button class="menu-toggle js-close-burger">
            <svg class="menu-burger-icon" width="28" height="28">
                <use href="./img/sprite.svg#close"></use>
            </svg>
        </button>

        <ul class="menu-burger-nav-list">
            <li class="menu-burger-nav-item">
                <a href="#about-me" class="burger-menu-nav-link">About me</a>
            </li>
            <li class="menu-burger-nav-item">
                <a href="#benefits" class="burger-menu-nav-link">Benefits</a>
            </li>
            <li class="menu-burger-nav-item"><a href="#projects"
                    class="burger-menu-nav-link">Projects</a></li>
            <li class="menu-burger-nav-item"><a href="#faq"
                    class="burger-menu-nav-link">FAQ</a></li>
        </ul>
        <a href="#WorkTogether" class="burger-button-link">Order the project</a>
    </div>
</div>

<script type="module" src="js/modals.js"></script>
