<section class="about-me" id="about-me">
  <div class="container about-box">
    <h2 class="hidden">About me</h2>
    <div class="about-subtitle">
      <div class="about-subtitle-content">
        <h3 class="about-subtitle-text">
          I work with people all over the world to create impressive and
          <span class="subtitle-func">functional</span>
          <span class="subtitle-web-grey">websites</span> that reflect each
          client's unique personality.
        </h3>
      </div>
      <div class="about-me-photo">
        <picture>
          <source media="(min-width: 1440px)" srcset="
              ./img/about-me-img/desk_about-me.webp    1x,
              ./img/about-me-img/desk_about-me@2x.webp 2x
            " type="image/webp" />
          <source media="(min-width: 768px)" srcset="
              ./img/about-me-img/tab_about-me.webp    1x,
              ./img/about-me-img/tab_about-me@2x.webp 2x
            " type="image/webp" />
          <source media="(max-width: 767px)" srcset="
              ./img/about-me-img/mob_about_me.webp    1x,
              ./img/about-me-img/mob_about_me@2x.webp 2x
            " type="image/webp" />
          <img class="about-me-avatar" src="./img/mobile/about-me/mob_about_me.webp"
            alt="Portrait of man Lloyd Jefferson, a Fullstack Developer" title="Lloyd Jefferson, a Fullstack Developer"
            loading="lazy" />
        </picture>
      </div>
    </div>

    <!-- < -----------------ACCORDION----------------- > -->

    <div class="accordion-info-about-me">
      <ul class="accordion-info-about-me-list">
        <li class="ac about-me-item-container is-active first-element-about">
          <h3 class="ac-header acc-caption">
            <button type="button" id="ac-trigger-1" class="ac-trigger accordion-button-up-down btn-roll"
              aria-label="click-go-up-go-down" aria-expanded="false">
              About me
              <svg class="about-me-arrow-icon" width="20" height="20">
                <use href="./img/sprite.svg#arrow-down"></use>
              </svg>
            </button>
          </h3>
          <div class="ac-panel about-me-text">
              <p class="acor-txt">
                I am Lloyd Jefferson, a talented programmer with extensive
                expertise in software development. I have an understanding of
                different programming languages and technologies, always ready
                to improve my skills. I always follow the latest trends and look
                for unconventional, creative solutions to problems. I have a
                high level of analytical skills and am able to effectively solve
                even the most difficult tasks encountered on the way.
              </p>
              <p class="acor-txt">
                Able to work both independently and in a team. I can effectively
                cooperate with colleagues, exchanging ideas and finding optimal
                solutions. Professional maturity allows you to calmly cope with
                challenges and stressful situations, while maintaining a high
                quality of work. I am always looking for opportunities for
                self-improvement. I actively study new technologies and
                practices to stay abreast of the latest innovations. I have a
                strong understanding of various programming languages,
                frameworks and architectural concepts that allow me to create
                efficient and scalable software.
              </p>
          </div>
        </li>

        <li class="ac about-me-item-container">
          <h3 class="ac-header acc-caption">
            <button type="button" id="ac-trigger-2" class="ac-trigger accordion-button-up-down btn-roll"
              aria-label="click-go-up-go-down" aria-expanded="false">
              Role
              <svg class="about-me-arrow-icon" width="20" height="20">
                <use href="./img/sprite.svg#arrow-down"></use>
              </svg>
            </button>
          </h3>
          <div class="ac-panel about-me-text">
            <p class="acor-txt">Frontend development</p>
            <p class="acor-txt">HeadlessCMS, Wordpress</p>
            <p class="acor-txt">Blender (enjoy)</p>
          </div>
        </li>

        <li class="ac about-me-item-container">
          <h3 class="ac-header acc-caption">
            <button type="button" id="ac-trigger-3" class="ac-trigger accordion-button-up-down btn-roll"
              aria-label="click-go-up-go-down" aria-expanded="false">
              Education
              <svg class="about-me-arrow-icon" width="20" height="20">
                <use href="./img/sprite.svg#arrow-down"></use>
              </svg>
            </button>
          </h3>
          <div class="ac-panel about-me-text">
            <p class="acor-txt acor-txt-one">2018 - 2019 / Frontend Development Diploma, GoIT IT School, New York</p>
            <p class="acor-txt acor-txt-two">2019 - 2020 / Advanced Web Development Certificate, GoIT IT School, New York</p>
            <p class="acor-txt acor-txt-three">2020 - 2022 / Advanced Blender Animation Techniques, Udemy</p>
          </div>
        </li>
      </ul>
    </div>

    <!-----Swiper-->
    <div class="swipper-wrapper swipper-wrapper-top">
      <div class="swiper about-me-swiper">
        <!-- Additional required wrapper -->
        <ul class="swiper-wrapper swiper-wrapper-about-me">
          <!-- Slides -->
          <li class="swiper-slide slide-about-me">
            <a class="item-about-me" href="https://html-css.co.ua/">HTML/CSS</a>
          </li>
          <li class="swiper-slide slide-about-me">
            <a class="item-about-me" href="https://w3schoolsua.github.io/js/js_exercises.html#gsc.tab=0">JavaScript</a>
          </li>
          <li class="swiper-slide slide-about-me">
            <a class="item-about-me" href="https://uk.legacy.reactjs.org/">React</a>
          </li>
          <li class="swiper-slide slide-about-me">
            <a class="item-about-me" href="">Node. js</a>
          </li>
          <li class="swiper-slide slide-about-me">
            <a class="item-about-me" href="https://reactnative.dev/">React Native</a>
          </li>
          <li class="swiper-slide slide-about-me">
            <a class="item-about-me" href="https://www.forbes.com/advisor/business/soft-skills-examples/">Soft skills</a>
          </li>
          <li class="swiper-slide slide-about-me">
            <a class="item-about-me" href="https://www.typescriptlang.org/">Type script</a>
          </li>
        </ul>
        <!-- If we need navigation buttons -->
      </div>
    
      <div class="swiper-button-next about-btn-arrow">
        <svg class="arrow-button-next svg-arrow-about-me" width="28" height="28">
          <use href="./img/sprite.svg#arrow-right-swiper"></use>
        </svg>
      </div>
    </div>
    
  </div>

</section>

<script type="module" src="/js/about-me.js"></script>