<!-- Section About Me -->

<section class="about-me-section" id = "about-me-id">
  <div class="container">
    <h2 class="visually-hidden">About me</h2>
    <div class="about-me-header">
      <p class="about-me-header-prh">I work with people all over the world to create
         impressive and <span class="span-func">functional</span> 
         <span class="span-web">websites</span> that reflect
          each client's unique personality.</p>
    </div>
    <picture class="image">
      <source srcset="./img/about-me-img/image-about-me-mob-min.png    1x,
      ./img/about-me-img/image-about-me-mob-min@2x.png  2x"
      media="(max-width: 767px)">
      <source srcset="../img/about-me-img/image-about-me-tab-min.png   1x,
      ./img/about-me-img/image-about-me-tab-min@2x.png   2x"
      media="(min-width: 768px)"
      >
      <source srcset="../img/about-me-img/image-about-me-desk-min.png   1x,
      ./img/about-me-img/image-about-me-desk-min@2x.png   2x"
      media="(min-width: 1440px)"
      >

      <img src="./img/about-me-img/image-about-me.png" alt="lloyd-jefferson-picture">
    </picture>
  
    <div class="description">
    <ul class="description-list">
  <li class="accordion-container">
    <div class="descrip-cont">
      <h2 class="title-desctption">about me</h2>
      <button type="button" class="accordion-btn">button acc</button>
    </div>

    <ul class="descrip-text-list">
      <li class="descrip-about-title"><p class="descrip-about-prh">I am Lloyd Jefferson, a talented programmer with extensive expertise in software development. I have an understanding of different programming languages and technologies, always ready to improve my skills. I always follow the latest trends and look for unconventional, creative solutions to problems. I have a high level of analytical skills and am able to effectively solve even the most difficult tasks encountered on the way.</p></li>
      <li class="descrip-about-title"><p class="descrip-about-prh">Able to work both independently and in a team. I can effectively cooperate with colleagues, exchanging ideas and finding optimal solutions. Professional maturity allows you to calmly cope with challenges and stressful situations, while maintaining a high quality of work. I am always looking for opportunities for self-improvement. I actively study new technologies and practices to stay abreast of the latest innovations. I have a strong understanding of various programming languages, frameworks and architectural concepts that allow me to create efficient and scalable software.</p></li>
    </ul>
  </li>
  <li class="accordion-container">
    <div class="descrip-cont">
      <h2 class="title-desctption">role</h2>
      <button type="button" class="accordion-btn">button acc</button>
    </div>
    
    <ul class="descrip-text-list">
      <li class="descrip-role-title">
        <p class="descrip-role-prh">Frontend development</p>
      </li>
      <li class="descrip-role-title">
        <p class="descrip-role-prh">HeadlessCMS, Wordpress</p>
      </li>
      <li class="descrip-role-title">
        <p class="descrip-role-prh">Blender (enjoy)</p>
      </li>
    </ul>
  </li>
  <li class="accordion-container">
    <div class="descrip-cont">
      <h2 class="title-desctption">education</h2>
      <button type="button" class="accordion-btn">button acc</button>
    </div>
   
    <ul class="descrip-text-list">
      <li class="descrip-educ-title">
        <p class="descrip-educ-prh">2018 - 2019  / Frontend Development Diploma, GoIT IT School, New York</p>
      </li>
      <li class="descrip-educ-title">
        <p class="descrip-educ-prh">2019 - 2020 / Advanced Web Development Certificate, GoIT IT School, New York</p>
      </li>
      <li class="descrip-educ-title">
        <p class="descrip-educ-prh">2020 - 2022 / Advanced Blender Animation Techniques, Udemy</p>
      </li>
    </ul>
  </li>
    </ul>
    </div>
    <div class="tech-skills">
      <button type="button" class="btn-skills">html/css</button>
      <button type="button" class="btn-skills">JavaScript</button>
      <button type="button" class="btn-skills">React</button>
      <button type="button" class="btn-skills">Node.js</button>
      <button type="button" class="btn-skills">React Native</button>
      <button type="button" class="btn-skills">Soft scills</button>
      <button type="button" class="btn-arrow-right"></button>
    </div>
  </div>
  
</section>
