<section id="covers" class="covers-section">
  <div class="container covers-container">
    <h2 class="hidden section-headline">Covers</h2>
    <div class="content covers-content cc">
      <div class="marquee">
      <ul class="marquee-inner">
          <li class="marquee-line">
            <picture class="project-img">
              <source
                srcset="
                  ./img/covers/project-6-min.jpg    1x,
                ./img/covers/project-6-2x-min.jpg 2x
                "
              />
              <img
                src="./img/covers/project-6-min.jpg"
                alt="project-6"
                width="282"
                height="164"
              />
            </picture>
          </li>
          <li class="marquee-line">
            <picture class="project-img">
              <source
                srcset="
                  ./img/covers/project-7-min.jpg    1x,
                  ./img/covers/project-7-2x-min.jpg 2x
                "
              />
              <img
                src="./img/covers/project-7-min.jpg"
                alt="project-7"
                width="282"
                height="164"
              />
            </picture>
          </li>
          <li class="marquee-line">
            <picture class="project-img">
              <source
                srcset="
                  ./img/covers/project-8-min.jpg    1x,
                  ./img/covers/project-8-2x-min.jpg 2x
                "
              />
              <img
                src="./img/covers/project-8-min.jpg"
                alt="project-8"
                width="282"
                height="164"
              />
            </picture>
          </li>
          <li class="marquee-line">
            <picture class="project-img">
              <source
                srcset="
                  ./img/covers/project-9-min.jpg    1x,
                  ./img/covers/project-9-2x-min.jpg 2x
                "
              />
              <img
                src="./img/covers/project-9-min.jpg"
                alt="project-9"
                width="282"
                height="164"
              />
            </picture>
          </li>
          <li class="marquee-line">
            <picture class="project-img">
              <source
                srcset="
                  ./img/covers/project-10-min.jpg    1x,
                  ./img/covers/project-10-2x-min.jpg 2x
                "
              />
              <img
                src="./img/covers/project-10-min.jpg"
                alt="project-10"
                width="282"
                height="164"
              />
            </picture>
          </li>
          <li class="marquee-line">
            <picture class="project-img">
              <source
                srcset="
                  ./img/covers/project-6-min.jpg    1x,
                ./img/covers/project-6-2x-min.jpg 2x
                "
              />
              <img
                src="./img/covers/project-6-min.jpg"
                alt="project-6"
                width="282"
                height="164"
              />
            </picture>
          </li>
          <li class="marquee-line">
            <picture class="project-img">
              <source
                srcset="
                  ./img/covers/project-7-min.jpg    1x,
                  ./img/covers/project-7-2x-min.jpg 2x
                "
              />
              <img
                src="./img/covers/project-7-min.jpg"
                alt="project-7"
                width="282"
                height="164"
              />
            </picture>
          </li>
          <li class="marquee-line">
            <picture class="project-img">
              <source
                srcset="
                  ./img/covers/project-8-min.jpg    1x,
                  ./img/covers/project-8-2x-min.jpg 2x
                "
              />
              <img
                src="./img/covers/project-8-min.jpg"
                alt="project-8"
                width="282"
                height="164"
              />
            </picture>
          </li>
          <li class="marquee-line">
            <picture class="project-img">
              <source
                srcset="
                  ./img/covers/project-9-min.jpg    1x,
                  ./img/covers/project-9-2x-min.jpg 2x
                "
              />
              <img
                src="./img/covers/project-9-min.jpg"
                alt="project-9"
                width="282"
                height="164"
              />
            </picture>
          </li>
          <li class="marquee-line">
            <picture class="project-img">
              <source
                srcset="
                  ./img/covers/project-10-min.jpg    1x,
                  ./img/covers/project-10-2x-min.jpg 2x
                "
              />
              <img
                src="./img/covers/project-10-min.jpg"
                alt="project-10"
                width="282"
                height="164"
              />
            </picture>
          </li>
        </ul>
       <ul class="marquee-inner">
          <li class="marquee-line">
            <picture class="project-img">
              <source
                srcset="
                ./img/covers/project-1-min.jpg    1x,
                  ./img/covers/project-1-2x-min.jpg 2x
                "
              />
              <img
                src="./img/covers/project-1-min.jpg"
                alt="project-1"
                width="282"
                height="164"
              />
            </picture>
          </li>
          <li class="marquee-line">
            <picture class="project-img">
              <source
                srcset="
                  ./img/covers/project-2-min.jpg    1x,
                  ./img/covers/project-2-2x-min.jpg 2x
                "
              />
              <img
                src="./img/covers/project-2-min.jpg"
                alt="project-2"
                width="282"
                height="164"
              />
            </picture>
          </li>
          <li class="marquee-line">
            <picture class="project-img">
              <source
                srcset="
                  ./img/covers/project-3-min.jpg    1x,
                  ./img/covers/project-3-2x-min.jpg 2x
                "
              />
              <img
                src="./img/covers/project-3-min.jpg"
                alt="project-3"
                width="282"
                height="164"
              />
            </picture>
          </li>
          <li class="marquee-line">
            <picture class="project-img">
              <source
                srcset="
                  ./img/covers/project-4-min.jpg    1x,
                  ./img/covers/project-4-2x-min.jpg 2x
                "
              />
              <img
                src="./img/covers/project-4-min.jpg"
                alt="project-4"
                width="282"
                height="164"
              />
            </picture>
          </li>
          <li class="marquee-line">
            <picture class="project-img">
              <source
                srcset="
                  ./img/covers/project-5-min.jpg    1x,
                  ./img/covers/project-5-2x-min.jpg 2x
                "
              />
              <img
                src="./img/covers/project-5-min.jpg"
                alt="project-5"
                width="282"
                height="164"
              />
            </picture>
          </li>
          <li class="marquee-line">
            <picture class="project-img">
              <source
                srcset="
                ./img/covers/project-1-min.jpg    1x,
                  ./img/covers/project-1-2x-min.jpg 2x
                "
              />
              <img
                src="./img/covers/project-1-min.jpg"
                alt="project-1"
                width="282"
                height="164"
              />
            </picture>
          </li>
          <li class="marquee-line">
            <picture class="project-img">
              <source
                srcset="
                  ./img/covers/project-2-min.jpg    1x,
                  ./img/covers/project-2-2x-min.jpg 2x
                "
              />
              <img
                src="./img/covers/project-2-min.jpg"
                alt="project-2"
                width="282"
                height="164"
              />
            </picture>
          </li>
          <li class="marquee-line">
            <picture class="project-img">
              <source
                srcset="
                  ./img/covers/project-3-min.jpg    1x,
                  ./img/covers/project-3-2x-min.jpg 2x
                "
              />
              <img
                src="./img/covers/project-3-min.jpg"
                alt="project-3"
                width="282"
                height="164"
              />
            </picture>
          </li>
          <li class="marquee-line">
            <picture class="project-img">
              <source
                srcset="
                  ./img/covers/project-4-min.jpg    1x,
                  ./img/covers/project-4-2x-min.jpg 2x
                "
              />
              <img
                src="./img/covers/project-4-min.jpg"
                alt="project-4"
                width="282"
                height="164"
              />
            </picture>
          </li>
          <li class="marquee-line">
            <picture class="project-img">
              <source
                srcset="
                  ./img/covers/project-5-min.jpg    1x,
                  ./img/covers/project-5-2x-min.jpg 2x
                "
              />
              <img
                src="./img/covers/project-5-min.jpg"
                alt="project-5"
                width="282"
                height="164"
              />
            </picture>
          </li>
        </ul>
        <ul class="marquee-inner">
         <li class="marquee-line">
            <picture class="project-img">
              <source
                srcset="
                  ./img/covers/project-9-min.jpg    1x,
                  ./img/covers/project-9-2x-min.jpg 2x
                "
              />
              <img
                src="./img/covers/project-9-min.jpg"
                alt="project-9"
                width="282"
                height="164"
              />
            </picture>
          </li>
          <li class="marquee-line">
            <picture class="project-img">
              <source
                srcset="
                  ./img/covers/project-6-min.jpg    1x,
                ./img/covers/project-6-2x-min.jpg 2x
                "
              />
              <img
                src="./img/covers/project-6-min.jpg"
                alt="project-6"
                width="282"
                height="164"
              />
            </picture>
          </li>
          <li class="marquee-line">
            <picture class="project-img">
              <source
                srcset="
                  ./img/covers/project-10-min.jpg    1x,
                  ./img/covers/project-10-2x-min.jpg 2x
                "
              />
              <img
                src="./img/covers/project-10-min.jpg"
                alt="project-10"
                width="282"
                height="164"
              />
            </picture>
          </li>
         <li class="marquee-line">
            <picture class="project-img">
              <source
                srcset="
                  ./img/covers/project-7-min.jpg    1x,
                  ./img/covers/project-7-2x-min.jpg 2x
                "
              />
              <img
                src="./img/covers/project-7-min.jpg"
                alt="project-7"
                width="282"
                height="164"
              />
            </picture>
          </li>
           <li class="marquee-line">
            <picture class="project-img">
              <source
                srcset="
                  ./img/covers/project-8-min.jpg    1x,
                  ./img/covers/project-8-2x-min.jpg 2x
                "
              />
              <img
                src="./img/covers/project-8-min.jpg"
                alt="project-8"
                width="282"
                height="164"
              />
            </picture>
          </li>
         <li class="marquee-line">
            <picture class="project-img">
              <source
                srcset="
                  ./img/covers/project-9-min.jpg    1x,
                  ./img/covers/project-9-2x-min.jpg 2x
                "
              />
              <img
                src="./img/covers/project-9-min.jpg"
                alt="project-9"
                width="282"
                height="164"
              />
            </picture>
          </li>
          <li class="marquee-line">
            <picture class="project-img">
              <source
                srcset="
                  ./img/covers/project-6-min.jpg    1x,
                ./img/covers/project-6-2x-min.jpg 2x
                "
              />
              <img
                src="./img/covers/project-6-min.jpg"
                alt="project-6"
                width="282"
                height="164"
              />
            </picture>
          </li>
          <li class="marquee-line">
            <picture class="project-img">
              <source
                srcset="
                  ./img/covers/project-10-min.jpg    1x,
                  ./img/covers/project-10-2x-min.jpg 2x
                "
              />
              <img
                src="./img/covers/project-10-min.jpg"
                alt="project-10"
                width="282"
                height="164"
              />
            </picture>
          </li>
          <li class="marquee-line">
            <picture class="project-img">
              <source
                srcset="
                  ./img/covers/project-7-min.jpg    1x,
                  ./img/covers/project-7-2x-min.jpg 2x
                "
              />
              <img
                src="./img/covers/project-7-min.jpg"
                alt="project-7"
                width="282"
                height="164"
              />
            </picture>
          </li>
          <li class="marquee-line">
            <picture class="project-img">
              <source
                srcset="
                  ./img/covers/project-8-min.jpg    1x,
                  ./img/covers/project-8-2x-min.jpg 2x
                "
              />
              <img
                src="./img/covers/project-8-min.jpg"
                alt="project-8"
                width="282"
                height="164"
              />
            </picture>
          </li>
        </ul>
     <ul class="marquee-inner">
          <li class="marquee-line">
            <picture class="project-img">
              <source
                srcset="
                ./img/covers/project-1-min.jpg    1x,
                  ./img/covers/project-1-2x-min.jpg 2x
                "
              />
              <img
                src="./img/covers/project-1-min.jpg"
                alt="project-1"
                width="282"
                height="164"
              />
            </picture>
          </li>
             <li class="marquee-line">
            <picture class="project-img">
              <source
                srcset="
                  ./img/covers/project-5-min.jpg    1x,
                  ./img/covers/project-5-2x-min.jpg 2x
                "
              />
              <img
                src="./img/covers/project-5-min.jpg"
                alt="project-5"
                width="282"
                height="164"
              />
            </picture>
          </li>
          <li class="marquee-line">
            <picture class="project-img">
              <source
                srcset="
                  ./img/covers/project-3-min.jpg    1x,
                  ./img/covers/project-3-2x-min.jpg 2x
                "
              />
              <img
                src="./img/covers/project-3-min.jpg"
                alt="project-3"
                width="282"
                height="164"
              />
            </picture>
          </li>
         <li class="marquee-line">
            <picture class="project-img">
              <source
                srcset="
                  ./img/covers/project-2-min.jpg    1x,
                  ./img/covers/project-2-2x-min.jpg 2x
                "
              />
              <img
                src="./img/covers/project-2-min.jpg"
                alt="project-2"
                width="282"
                height="164"
              />
            </picture>
          </li>
          <li class="marquee-line">
            <picture class="project-img">
              <source
                srcset="
                  ./img/covers/project-4-min.jpg    1x,
                  ./img/covers/project-4-2x-min.jpg 2x
                "
              />
              <img
                src="./img/covers/project-4-min.jpg"
                alt="project-4"
                width="282"
                height="164"
              />
            </picture>
          </li>
          <li class="marquee-line">
            <picture class="project-img">
              <source
                srcset="
                ./img/covers/project-1-min.jpg    1x,
                  ./img/covers/project-1-2x-min.jpg 2x
                "
              />
              <img
                src="./img/covers/project-1-min.jpg"
                alt="project-1"
                width="282"
                height="164"
              />
            </picture>
          </li>
             <li class="marquee-line">
            <picture class="project-img">
              <source
                srcset="
                  ./img/covers/project-5-min.jpg    1x,
                  ./img/covers/project-5-2x-min.jpg 2x
                "
              />
              <img
                src="./img/covers/project-5-min.jpg"
                alt="project-5"
                width="282"
                height="164"
              />
            </picture>
          </li>
          <li class="marquee-line">
            <picture class="project-img">
              <source
                srcset="
                  ./img/covers/project-3-min.jpg    1x,
                  ./img/covers/project-3-2x-min.jpg 2x
                "
              />
              <img
                src="./img/covers/project-3-min.jpg"
                alt="project-3"
                width="282"
                height="164"
              />
            </picture>
          </li>
          <li class="marquee-line">
            <picture class="project-img">
              <source
                srcset="
                  ./img/covers/project-2-min.jpg    1x,
                  ./img/covers/project-2-2x-min.jpg 2x
                "
              />
              <img
                src="./img/covers/project-2-min.jpg"
                alt="project-2"
                width="282"
                height="164"
              />
            </picture>
          </li>
          <li class="marquee-line">
            <picture class="project-img">
              <source
                srcset="
                  ./img/covers/project-4-min.jpg    1x,
                  ./img/covers/project-4-2x-min.jpg 2x
                "
              />
              <img
                src="./img/covers/project-4-min.jpg"
                alt="project-4"
                width="282"
                height="164"
              />
            </picture>
          </li>
        </ul>
        <ul class="marquee-inner">
          <li class="marquee-line">
            <picture class="project-img">
              <source
                srcset="
                  ./img/covers/project-6-min.jpg    1x,
                ./img/covers/project-6-2x-min.jpg 2x
                "
              />
              <img
                src="./img/covers/project-6-min.jpg"
                alt="project-6"
                width="282"
                height="164"
              />
            </picture>
          </li>
          <li class="marquee-line">
            <picture class="project-img">
              <source
                srcset="
                  ./img/covers/project-7-min.jpg    1x,
                  ./img/covers/project-7-2x-min.jpg 2x
                "
              />
              <img
                src="./img/covers/project-7-min.jpg"
                alt="project-7"
                width="282"
                height="164"
              />
            </picture>
          </li>
          <li class="marquee-line">
            <picture class="project-img">
              <source
                srcset="
                  ./img/covers/project-8-min.jpg    1x,
                  ./img/covers/project-8-2x-min.jpg 2x
                "
              />
              <img
                src="./img/covers/project-8-min.jpg"
                alt="project-8"
                width="282"
                height="164"
              />
            </picture>
          </li>
          <li class="marquee-line">
            <picture class="project-img">
              <source
                srcset="
                  ./img/covers/project-9-min.jpg    1x,
                  ./img/covers/project-9-2x-min.jpg 2x
                "
              />
              <img
                src="./img/covers/project-9-min.jpg"
                alt="project-9"
                width="282"
                height="164"
              />
            </picture>
          </li>
          <li class="marquee-line">
            <picture class="project-img">
              <source
                srcset="
                  ./img/covers/project-10-min.jpg    1x,
                  ./img/covers/project-10-2x-min.jpg 2x
                "
              />
              <img
                src="./img/covers/project-10-min.jpg"
                alt="project-10"
                width="282"
                height="164"
              />
            </picture>
          </li>
          <li class="marquee-line">
            <picture class="project-img">
              <source
                srcset="
                  ./img/covers/project-6-min.jpg    1x,
                ./img/covers/project-6-2x-min.jpg 2x
                "
              />
              <img
                src="./img/covers/project-6-min.jpg"
                alt="project-6"
                width="282"
                height="164"
              />
            </picture>
          </li>
          <li class="marquee-line">
            <picture class="project-img">
              <source
                srcset="
                  ./img/covers/project-7-min.jpg    1x,
                  ./img/covers/project-7-2x-min.jpg 2x
                "
              />
              <img
                src="./img/covers/project-7-min.jpg"
                alt="project-7"
                width="282"
                height="164"
              />
            </picture>
          </li>
          <li class="marquee-line">
            <picture class="project-img">
              <source
                srcset="
                  ./img/covers/project-8-min.jpg    1x,
                  ./img/covers/project-8-2x-min.jpg 2x
                "
              />
              <img
                src="./img/covers/project-8-min.jpg"
                alt="project-8"
                width="282"
                height="164"
              />
            </picture>
          </li>
          <li class="marquee-line">
            <picture class="project-img">
              <source
                srcset="
                  ./img/covers/project-9-min.jpg    1x,
                  ./img/covers/project-9-2x-min.jpg 2x
                "
              />
              <img
                src="./img/covers/project-9-min.jpg"
                alt="project-9"
                width="282"
                height="164"
              />
            </picture>
          </li>
          <li class="marquee-line">
            <picture class="project-img">
              <source
                srcset="
                  ./img/covers/project-10-min.jpg    1x,
                  ./img/covers/project-10-2x-min.jpg 2x
                "
              />
              <img
                src="./img/covers/project-10-min.jpg"
                alt="project-10"
                width="282"
                height="164"
              />
            </picture>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>