<!-- Section Hero -->

<section class="hero-section" id="hero">
  <div class="container hero-box">
    <h1 class="main-headline">
      Hello. <br />
      I’m Fullstack developer Lloyd Jefferson.
    </h1>
    <div class="hero-contact-info">
      <ul class="hero-social-media-list">
        <li class="hero-social-link">
          <a
            href="https://www.instagram.com/"
            class="hero-anchor-item"
            target="_blank"
            rel="noopener noreferrer nofollow"
            title="Link to Instagram"
            aria-label="Instagram (IG)"
            >IG</a
          >
        </li>
        <li class="hero-social-link">
          <a
            href="https://www.facebook.com/"
            class="hero-anchor-item"
            target="_blank"
            rel="noopener noreferrer nofollow"
            title="Link to Facebook"
            aria-label="Facebook (FB)"
            >FB</a
          >
        </li>
        <li class="hero-social-link">
          <a
            href="https://www.youtube.com/"
            class="hero-anchor-item"
            target="_blank"
            rel="noopener noreferrer nofollow"
            title="Link to YouTube"
            aria-label="Youtube (YT)"
            >YT</a
          >
        </li>
        <li class="hero-social-link">
          <a
            href="https://github.com/sukrutdemasek/project-lloyd-jefferson"
            class="hero-anchor-item"
            target="_blank"
            rel="noopener noreferrer nofollow"
            title="Link to GitHub"
            aria-label="GitHub (GH)"
            >GH</a
          >
        </li>
      </ul>
      <address class="hero-email">
        <a href="mailto:lloydjefferson@gmail.com" title="Send an Email"
          >lloydjefferson@gmail.com</a
        >
      </address>
    </div>
  </div>
</section>
