<!-- Section Hero -->

<section class="hero-section" id="hero">
  <div class="blur-strip-container">
    <div class="blur-strip"></div>
    <div class="blur-strip"></div>
    <div class="blur-strip"></div>
    <div class="blur-strip"></div>
    <div class="blur-strip"></div>
    <div class="blur-strip"></div>
    <div class="blur-strip"></div>
    <div class="blur-strip"></div>
    <div class="blur-strip"></div>
    <div class="blur-strip"></div>
  </div>
  <div class="container hero-box">
    <h1 class="main-headline">
      Hello. <br>
      I’m Fullstack developer Lloyd Jefferson.
    </h1>
    <div class="hero-contact-info">
      <ul class="hero-social-media-list">
        <li class="hero-social-link">
          <a
            href="https://www.instagram.com/"
            class="hero-anchor-item"
            target="_blank"
            rel="noopener noreferrer nofollow"
            title="Link to Instagram"
            aria-label="Instagram (IG)"
            >IG</a
          >
        </li>
        <li class="hero-social-link">
          <a
            href="https://www.facebook.com/"
            class="hero-anchor-item"
            target="_blank"
            rel="noopener noreferrer nofollow"
            title="Link to Facebook"
            aria-label="Facebook (FB)"
            >FB</a
          >
        </li>
        <li class="hero-social-link">
          <a
            href="https://www.youtube.com/"
            class="hero-anchor-item"
            target="_blank"
            rel="noopener noreferrer nofollow"
            title="Link to YouTube"
            aria-label="Youtube (YT)"
            >YT</a
          >
        </li>
        <li class="hero-social-link">
          <a
            href="https://github.com/sukrutdemasek/project-lloyd-jefferson"
            class="hero-anchor-item"
            target="_blank"
            rel="noopener noreferrer nofollow"
            title="Link to GitHub"
            aria-label="GitHub (GH)"
            >GH</a
          >
        </li>
      </ul>
      <address class="hero-email">
        <a href="mailto:lloydjefferson@gmail.com" 
          title="Send an Email"
          >lloydjefferson@gmail.com</a
        >
      </address>
    </div>
  </div>
  <div class="color-div collapsed ">
    <ul class="color-list">
      <li class="color-item color-item-1">
        <button class="color-button color-button-1" type="button"><svg class="icon-droplet" width="20" height="20">
              <use href="./img/sprite.svg#icon-droplet"></use>
            </svg></button>
      </li>
      <li class="color-item color-item-2"><button class="color-button color-button-2" type="button"><svg class="icon-droplet" width="20" height="20">
              <use href="./img/sprite.svg#icon-droplet"></use>
            </svg></button></li>
      <li class="color-item color-item-3"><button class="color-button color-button-3" type="button"><svg class="icon-droplet" width="20" height="20">
              <use href="./img/sprite.svg#icon-droplet"></use>
            </svg></button></li>
      <li class="color-item color-item-4"><button class="color-button color-button-4" type="button"><svg class="icon-droplet" width="20" height="20">
              <use href="./img/sprite.svg#icon-droplet"></use>
            </svg></button></li>
      <li class="color-item color-item-5"><button class="color-button color-button-5" type="button"><svg class="icon-droplet" width="20" height="20">
              <use href="./img/sprite.svg#icon-droplet"></use>
            </svg></button></li>
      <li class="color-item color-item-6"><button class="color-button color-button-6" type="button"><svg class="icon-droplet" width="20" height="20">
              <use href="./img/sprite.svg#icon-droplet"></use>
            </svg></button></li>
    </ul>
    <svg class="icon-paint-brush" width="20" height="20">
              <use href="./img/sprite.svg#icon-paint-brush"></use>
            </svg>
  </div>
</section>

<script type="module" src="js/hero.js"></script>
