<!-- Section Projects -->

<section class="projects-section">
  <h2 class="section-headline">Projects</h2>
  <ul class="projects-list">
    <li class="projects-item">
      <div class="projects-technologies">
        <ul class="technologies-list">
          <li class="technologies-item">
            <a class="item-content">
              #react
            </a>
          </li>
          <li class="technologies-item">
            <a class="item-content">
              #js
            </a>
          </li>
          <li class="technologies-item">
            <a class="item-content">
              #node js
            </a>
          </li>
          <li class="technologies-item">
            <a class="item-content">
              #git
            </a>
          </li>
        </ul>
        <h3 class="projects-title">Programming Across 
          Borders: Ideas, 
          Technologies, Innovations
        </h3>
        <button class="projects-button">See project</button>
      </div>
      <div class="projects-demo-container" >
          <picture>
            <!-- desktop screen -->
            <source media="" srcset="">
            <!-- tablet screen -->
            <source media="" srcset="">
            <!-- phone screen -->
            <source media="" srcset="">
        
            <img src="" alt="" width="" height="" loading="" />
          </picture>
      </div>
    </li>
  </ul>
</section>
