<!-- Section reviews -->

<section class="reviews-section">
  <div class="container reviews-container">
    <h2 class="section-headline">Reviews</h2>
    <div class="reviews-box">
      <ul class="reviews-list">
        <li class="reviews-item">
          <img
            srcset="../img/reviews-photo1-1x.jpg, ../img/reviews-photo1-2x.jpg"
            class="review-section-img"
            src="../img/reviews-photo1-1x.jpg"
            alt="woman with straight brown
          hair"
          />
          <h3 class="reviews-title">Natalia</h3>
          <p class="reviews-text">
            Work with was extraordinary! He turned out to be a very competent
            and responsible specialist. The projects were completed on time and
            the result exceeded my expectations
          </p>
        </li>
        <li class="reviews-item">
          <img
            srcset="../img/reviews-photo2-1x.jpg, ../img/reviews-photo2-2x.jpg"
            class="review-section-img"
            src="../img/reviews-photo2-1x.jpg"
            alt="man with beard"
          />
          <h3 class="reviews-title">Dmytro</h3>
          <p class="reviews-text">
            I have the honor to recommend him as an exceptional professional in
            his field. His knowledge and expertise are undeniable. Cooperation
            with him always brings impressive results.
          </p>
        </li>
        <li class="reviews-item">
          <img
            srcset="../img/reviews-photo3-1x.jpg, ../img/reviews-photo3-2x.jpg"
            class="review-section-img"
            src="../img/reviews-photo3-1x.jpg"
            alt="blonde"
          />
          <h3 class="reviews-title">Anna</h3>
          <p class="reviews-text">
            The developed project impresses with its quality and efficiency. The
            code is cleanly written and the functionality exceeds expectations.
            Extremely satisfied with the cooperation!
          </p>
        </li>
        <li class="reviews-item">
          <img
            srcset="../img/reviews-photo4-1x.jpg, ../img/reviews-photo4-2x.jpg"
            class="review-section-img"
            src="../img/reviews-photo4-2x.jpg"
            alt="woman with curly brown hair"
          />
          <h3 class="reviews-title">Ivetta</h3>
          <p class="reviews-text">
            Thanks for the excellent work on the project! His talent and
            professionalism deserve recognition. I recommend it to everyone who
            is looking for an expert in the field of software development.
          </p>
        </li>
      </ul>
    </div>
  </div>
</section>
