<!-- Section reviews -->

<section id="reviews" class="reviews-section">
  <div class="container reviews-container">
    <h2 class="section-headline">Reviews</h2>

    <div class="swiper swiper-reviews reviews__list">
      <ul class="swiper-wrapper"></ul>

      <div class="reviews__nav">
        <div class="swiper-button-prev">
          <svg width="32" height="32">
            <use href="./img/sprite.svg#arrow-right"></use>
          </svg>
        </div>
        <div class="swiper-button-next">
          <svg width="32" height="32">
            <use href="./img/sprite.svg#arrow-right"></use>
          </svg>
        </div>
      </div>
    </div>
  </div>
</section>

<script type="module" src="js/reviews.js"></script>
