<!-- Section reviews -->

<section class="reviews-section">
  <div class="container reviews-container">
    <h2 class="section-headline">Reviews</h2>
    <div class="reviews-box">
      <ul class="reviews-list">
        <li class="reviews-item">
          <img
            srcset="./img/ 1x, ./img/ 2x"
            class="review-section-img"
            src="./img 1x"
            alt="woman with straight brown hair"
          />
          <h3 class="reviews-title"></h3>
          <p class="reviews-text"></p>
        </li>
      </ul>
    </div>
  </div>
</section>
