/* @media screen and (max-width: 320px) */

#about-me .about-box {
    padding: 0 16px; 
}

.about-subtitle {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* margin-bottom: 32px; */
    margin-left: auto;
    margin-right: auto;
}

.about-subtitle-content {
    padding: 32px;
    height: 500px;
    width: 100%;
    background-color: #242527;
    border-radius: 24px;
    margin-bottom: 16px;
    box-sizing: border-box;
}

.about-subtitle-text {
    width: 100%;
    font-size: 24px;
    line-height: 1.17;
    text-align: left;
    color: #fafafa;
    font-weight: 500;
    letter-spacing: -0.03em;
    text-transform: uppercase;
}

.subtitle-func {
    color: #ed3b44;
}

.subtitle-web-grey {
    color: #fafafa66;
}

/* -------------PHOTO ABOUT ME-------------  */
.about-me-photo {
    max-width: 100%;
    text-align: center;
}

.about-me-avatar {
    max-width: 100%;
    height: auto;
    border-radius: 24px; 
}

/* -------------ACCORDION-------------  */

/* .accordion-info-about-me {
    margin-left: auto;
    margin-right: auto;
} */

.accordion-info-about-me-list {
  display: flex;
  flex-direction: column;
  margin-bottom: 32px;
}

ul.accordion-info-about-me-list .about-me-item-container.ac {
    border: none;
    border-bottom: 1px solid #fafafa33;
    padding-bottom: 20px;
    position: relative;
    background-color: transparent;
    margin-top: 32px;
}

.ac-header.acc-caption .ac-trigger {
    color: #fafafa66; 
    font-weight: 600;
    text-align: left;
    text-transform: uppercase;
    margin-bottom: 24px;
    padding: 0;
    font-family: inherit;
}

.ac-text p {
    font-family: 'Inter Tight', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: -0.02em;
    font-weight: 500;
    color: #fafafa;
    padding: 0;
}

li.about-me-item-container.ac .ac-panel {
    display: flex;
    flex-direction: column;
    gap: 10px; 
}

.about-me-item-container:first-child div.about-me-text.ac-panel {
    gap: 32px;
}

ul.accordion-info-about-me-list li.ac .ac-trigger.accordion-button-up-down::after {
    content: '';
    background-image: url('./img/sprite.svg#arrow-down');
    position: absolute;
    top: 16px;
    right: 18px;
    width: 34px;
    height: 34px;
    border: 1px solid rgba(250, 250, 250, 0.2);
    border-radius: 100px;
    transform: translate(50%, -50%);
    transition: box-shadow 300ms ease;
  }

  ul.accordion-info-about-me-list li.ac .ac-trigger.accordion-button-up-down:hover::after,
  ul.accordion-info-about-me-list li.ac .ac-trigger.accordion-button-up-down:focus::after {
    border-color: #fafafa;
    box-shadow: 0 0 15px #ed3b44;
  }

  .about-me-arrow-icon {
    position: absolute;
    top: 7px;
    right: 8px;
    transition: transform 0.3s ease-in-out;
  }

  /* ul.accordion-info-about-me-list li.ac.is-active > .ac-header .ac-trigger.accordion-button-up-down.btn-roll::after {
    content: '';
  } */
  
  ul.accordion-info-about-me-list li.ac.is-active .about-me-arrow-icon {
    transform: rotate(-180deg);
  }
  

/* -------------TABLET-------------  */

@media screen and (min-width: 768px) {
    #about-me .about-box {
        padding-left: 32px;
        padding-right: 32px;
    }

    .about-subtitle {
        margin-bottom: 64px;
    }

    .about-subtitle-content {
        padding: 64px;
        height: 700px;
        width: 704px;
    }

    .about-subtitle-text {
        width: 576px;
        font-size: 38px;
        line-height: 1.05;
        letter-spacing: -0.03em;
    }

/* -------------ACCORDION-------------  */

ul.accordion-info-about-me-list .about-me-item-container.ac {
    padding-bottom: 32px;
}

.about-me-item-container:first-child div.about-me-text.ac-panel {
    gap: 16px;
}

ul.accordion-info-about-me-list li.ac .ac-trigger.accordion-button-up-down::after {
    top: 20px;
    right: 20px;
    width: 40px;
    height: 40px;
}

.about-me-arrow-icon {
    top: 11px;
    right: 10px;
}

.ac-header.acc-caption .ac-trigger {
    margin-bottom: 30px;
}
}

/* -------------DESKTOP-------------  */

@media screen and (min-width: 1440px) {

    #about-me .about-box {
        padding-left: 32px;
        padding-right: 32px;
    }
   
    .about-subtitle {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-bottom: 96px;
    }

    .about-subtitle-content {
        max-width: 680px;
        margin-bottom: 0;
    }

    .about-subtitle-text {
        width: 552px;
        height: 200px;
        font-size: 38px;
        line-height: 1.05;
        letter-spacing: -0.03em;
    }

/* -------------ACCORDION-------------  */

    .accordion-info-about-me {
        width: 1376px;
    }

    .about-me-item-container:first-child div.about-me-text.ac-panel {
        gap: 32px;
    }

    .about-me-text {
        align-items: end;
        padding-right: 68px;
    }

    .about-me-text p {
        width: 612px;
    }

    .ac-header.acc-caption .ac-trigger {
        margin-bottom: 24px;
    }
}














