
#about-me .about-box {
    padding: 0 16px;
    margin-bottom: 64px;
}

.about-box .ac {
    margin-top: 0px;
}

.about-box .acor-txt {
    font-family: inherit;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: -0.02em;
    text-align: left;
    color:#fafafa;
}

.about-subtitle {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

.about-subtitle-content {
    padding: 32px;
    height: 500px;
    width: 100%;
    background-color: #242527;
    border-radius: 24px;
    margin-bottom: 16px;
    box-sizing: border-box;
}

.about-subtitle-text {
    width: 100%;
    font-size: 24px;
    line-height: 1.17;
    text-align: left;
    color: #fafafa;
    font-weight: 500;
    letter-spacing: -0.03em;
    text-transform: uppercase;
}

.subtitle-func {
    color: #ed3b44;
}

.subtitle-web-grey {
    color: #fafafa66;
}

/* -------------PHOTO ABOUT ME-------------  */
.about-me-photo {
    max-width: 100%;
    text-align: center;
}

.about-me-avatar {
    max-width: 100%;
    height: auto;
    border-radius: 24px;
}

/* -------------ACCORDION-------------  */

.accordion-info-about-me-list {
    display: flex;
    flex-direction: column;
    margin-bottom: 32px;
}

ul.accordion-info-about-me-list .about-me-item-container.ac {
    border: none;
    border-bottom: 1px solid #fafafa33;
    padding-bottom: 20px;
    position: relative;
    background-color: transparent;
    padding-top: 32px;
}

.ac-header.acc-caption .ac-trigger {
    text-align: left;
    margin-bottom: 24px;
    padding: 0;
    font-family: inherit;
    color: rgba(250, 250, 250, 0.40);
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: -0.32px;
    text-transform: uppercase;
}

.ac-text p {
    font-family: 'Inter Tight', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: -0.02em;
    font-weight: 500;
    color: #fafafa;
    padding: 0;
}
.acor-txt-one {
    max-width: 360px;
}
.acor-txt-two {
    max-width: 450px;
}
li.about-me-item-container.ac .ac-panel {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.about-me-item-container:first-child div.about-me-text.ac-panel {
    gap: 32px;
}

ul.accordion-info-about-me-list li.ac .ac-trigger.accordion-button-up-down::after {
    content: '';
    position: absolute;
    top: 16px;
    right: 18px;
    width: 34px;
    height: 34px;
    border: 1px solid rgba(250, 250, 250, 0.2);
    border-radius: 100px;
    transform: translate(50%, -50%);
    transition: box-shadow 300ms ease;
}

ul.accordion-info-about-me-list li.ac .ac-trigger.accordion-button-up-down:hover::after
 {
    border-color: #fafafa;
    box-shadow: 0 0 15px #ed3b44;
}

.about-me-arrow-icon {
    position: absolute;
    top: 7px;
    right: 8px;
    transition: transform 0.3s ease-in-out;
}


ul.accordion-info-about-me-list li.ac.is-active .about-me-arrow-icon {
    transform: rotate(-180deg);
}

/*-----------------------Swiper-------------------------*/
.swiper .about-me-swiper {
    position: relative;
}

/*для кнопки*/

.about-btn-arrow {
    position: absolute;
    top: 50%;
    right: 0px;
    transform: translateY(-50%);
    z-index: 10;
    background-color: transparent;
    border: none;
}

.item-about-me {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fafafa;
    font-family: inherit;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: -0.02em;
    text-align: left;
    height: 100%;
    border-radius: 50%;
    border: 1px solid #fafafa33;
}
li.slide-about-me {
      width: calc(((100vw - 32px)* 0.75) / 2);
    height: calc(((100vw - 32px)* 0.75) / 2);

}
@media screen and (min-width: 375px) {
    li.slide-about-me {
    width: calc(((375px - 32px)*0.75)/2);
    height: calc(((375px - 32px)*0.75)/2);
   
    }
}
 
.swiper-slide-active .item-about-me {
    background-color: #ed3b44;
    border: 1px solid #ed3b44;
}
 .item-about-me:hover {
border-color: #fafafa;

}
.swiper-slide-active .item-about-me:hover {
    background-color: #E0373F; /* lime */

}
.about-me .about-btn-arrow {
    border: none;
    background-color: transparent;
}

/* -------------TABLET Swiper-------------  */

@media screen and (min-width: 768px) {
    .item-about-me {
        width: 200px;
        height: 200px;
    }

    .about-btn-arrow {
        right: 0px;
    }

    #about-me .about-box {
        padding-left: 32px;
        padding-right: 32px;
        margin-bottom: 96px;
    }

    .about-subtitle {
        margin-bottom: 64px;
    }

    .about-subtitle-content {
        padding: 64px;
        height: 700px;
        width: 704px;
    }

    .about-subtitle-text {
        width: 576px;
        font-size: 38px;
        line-height: 1.05;
        letter-spacing: -0.03em;
    }

    /* -------------ACCORDION-------------  */

    ul.accordion-info-about-me-list .about-me-item-container.ac {
        padding-bottom: 32px;
    }

    .about-me-item-container:first-child div.about-me-text.ac-panel {
        gap: 16px;
    }

    ul.accordion-info-about-me-list li.ac .ac-trigger.accordion-button-up-down::after {
        top: 20px;
        right: 20px;
        width: 40px;
        height: 40px;
    }

    .about-me-arrow-icon {
        top: 11px;
        right: 10px;
    }

    .ac-header.acc-caption .ac-trigger {
        margin-bottom: 30px;
    }
}

/* -------------DESKTOP-------------  */

@media screen and (min-width: 1440px) {
    #about-me .about-box {
        padding-left: 32px;
        padding-right: 32px;
        margin-bottom: 164px;
    }

    .about-subtitle {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-bottom: 96px;
    }

    .about-subtitle-content {
        max-width: 680px;
        margin-bottom: 0;
    }

    .about-subtitle-text {
        width: 552px;
        height: 200px;
        font-size: 38px;
        line-height: 1.05;
        letter-spacing: -0.03em;
    }

    /* -------------ACCORDION-------------  */

    .accordion-info-about-me {
        width: 1376px;
    }

    .about-me-item-container:first-child div.about-me-text.ac-panel {
        gap: 32px;
    }

    .about-me-text {
        align-items: end;
        padding-right: 68px;
    }

    .about-me-text p {
        width: 612px;
    }

    .ac-header.acc-caption .ac-trigger {
        margin-bottom: 24px;
    }
    .acor-txt-one {
    margin-right: 252px;
}
.acor-txt-two {
    margin-right: 162px;
}
}

/* DANILKO MONKEY */
/* DANILKO MONKEY */
/* DANILKO MONKEY */
/* DANILKO MONKEY */

.swipper-wrapper {
    position: relative;
}

.swipper-wrapper .swiper {
    width: 75%;
    margin-left: 0;
}

.swipper-wrapper .swiper-slide {
    width: 50%;
}

/* -------------TABLET Swiper-------------  */

@media screen and (min-width: 768px) {
    .swipper-wrapper .swiper {
        width: 90%;
    }
div.about-me-swiper {
    max-width: 600px;
    /* overflow: hidden; */
}
    .swipper-wrapper .slide-about-me {
        /* width: calc(((768px - 64px) * 0.9)/3);
        height: calc(((768px - 64px) * 0.9)/3); */
        width: 200px;
        height: 200px;
    }
    .item-about-me{
    font-size: 20px;
font-style: normal;
font-weight: 500;
line-height: normal;
letter-spacing: -0.4px;
}
.swipper-wrapper-top{
    margin-top: 64px;
}
.svg-arrow-about-me {
   width: 40px;
   height: 40px;
}

}
.about-btn-arrow{
    right: -16px;
}

/* -------------DESKTOP Swiper -------------  */

@media screen and (min-width: 1440px) {
    .swipper-wrapper .slide-about-me {
        width: 200px;
        height: 200px;
    }
    div.about-me-swiper {
    max-width: 1200px;
    
}
.swipper-wrapper-top{
    margin-top: 96px;
}
}
.svg-arrow-about-me{
    stroke:#3B3B3B;
}
.svg-arrow-about-me:hover{
    stroke:#ED3B44;
}
.svg-arrow-about-me:focus{
stroke: #ED3B44;
}