/* General Header Styles */
.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: transparent;
  z-index: 10;
  box-sizing: border-box; 
}

.container.header-container {
  display: flex;
  padding: 32px 16px;
}

.navigation {
  width: 100%;
  display: flex;
 align-items: flex-start;
  justify-content: space-between;
}

.logo-link {
  display: flex;
align-items: flex-start;
gap: 8px;
}
.logo-header {
  display: flex;
  align-items: center;
}

.logo-text {
  font-size: 20px;
  color: #fafafa;
  
}

/* Burger Menu */
.burger {
  background-color: transparent;
  padding: 0;
  border: none;
 
}
.burger-icon {
  stroke: #fafafa;
  transition: stroke 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.burger-icon:hover {
  stroke: #ed3b44;
  
}
/* Menu Header */
.menu-header {
  display: none;
}

/* Nav Links */

  .menu-header {
    display: none;
  }

  .header-button {
    display: none;
  }




/* Tablet and Above */
@media screen and (min-width: 768px) {
.menu-header {
display: flex;
width: 67px;
flex-direction: column;
align-items: center;
    
  }
.container.header-container {
  gap: 157px;
  padding: 32px;
 
}
.navigation{
  max-width: 384px;
  
}
.header-nav-link {
 font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: normal;
letter-spacing: -0.32px;
  color: #fafafa;
  padding: 10px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.menu-link{
  text-decoration: underline;
}
.header-nav-link:hover,
.header-nav-link:focus {
  color: #ed3b44;
}

/* Order Button */
.header-button {
  display: flex;
  padding: 18px 24px;
  border-radius: 60px;
  border: none;
  background: #ed3b44;
  color: #fafafa;
  font-size: 16px;
  cursor: pointer;
  transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1);
  max-height: 55px;
}
.header-button-link{
  font-family: "Inter Tight";
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: normal;
letter-spacing: -0.32px;
}

.header-button:hover,
.header-button:focus {
  background-color: #e0373f;
}

.dropdown-menu {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 0);
    
    text-align: center;
    margin-top: 8px;
  }

  .dropdown-menu.show {
    display: block;
  }

  .burger {
    display: none;
  }
}

/* Desktop Styles */
@media screen and (min-width: 1440px) {
  .container.header-container{
    gap: 494px;
  }
  .navigation{
    max-width: 720px;
  }
}
