

.hero-section {
    position: relative; 
    background: linear-gradient(270deg, #1c1d20 49.68%, #69292d 67.73%, #ed3b44 95%);
    margin-bottom: 64px;
    overflow: hidden; 
    height: 100vh;
}
  .hero-section::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    background-position: left;
    background-size: cover;
    z-index: 1;
  }

.blur-strip-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
  }
  .blur-strip {
    width: 16.67%;
    height: 100%;
    background: linear-gradient(
      270deg,
      rgba(255, 255, 255, 0.0) -3%,
      rgba(59, 59, 59, 0.5) 16.67%,
      rgba(255, 255, 255, 0.0) 100%
    );
    background-blend-mode: overlay;
    backdrop-filter: blur(50px);
  }
  .blur-strip-container .blur-strip:first-child,
.blur-strip-container .blur-strip:last-child {
 opacity: 0.5;
}
  .hero-box {
    position: relative;
    z-index: 3;
  
    display: flex;
    flex-direction: column;
    
  }
  @media screen and (min-width: 768px) {
    .hero-section {
        height: 100%;
    }
    .blur-strip-container{
        height: 100%;
        width: 75%;
    }
     .hero-section::before{
        height: 100%;
     }
  }
  @media screen and (min-width: 1440px) {
    .blur-strip-container{
        height: 100%;
        width: 53%;
    }
   
    
  }
@media screen and (max-width: 375px) {
   .hero-section{
    background-size:contain;
   }
    
}
.hero-section {
    background-repeat: no-repeat;
    background-position: left;
    background-size: cover;
    margin-bottom: 64px;
    height: 100vh;
    /* text-align: center; */
}
/* red */



#hero .hero-box {
    padding: 60% 16px 32px 16px;
    display: flex;
    flex-direction: column;
    height: 100vh;
}
@media screen and (min-width: 375px) {
    #hero .hero-box {
        padding: 188px 16px 32px 16px;
    }
    
}
.main-headline {
    width: 100%;
    font-size: 50px;
    font-weight: 500;
    line-height: 1;
    letter-spacing: -0.03em;
    text-transform: uppercase;
    color: #fafafa;
    text-align: left;
    opacity: 0;
    transform: translateX(50px);  
    transition: opacity 0.8s ease-out, transform 0.8s ease-out;  
}

.main-headline.in-view {
    opacity: 1;
    transform: translateX(0); 
}

.hero-contact-info {
    
    margin-top: auto;
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 10px;
    opacity: 0;
    transform: translateX(-50px); 
    transition: opacity 0.8s ease-out, transform 0.8s ease-out;
}

.hero-contact-info.in-view {
    opacity: 1;
    transform: translateX(0); 
}

.hero-social-media-list {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 8px;
}

.hero-social-link {
    font-size: 14px;
    font-weight: 500;
    letter-spacing: -0.02em;
    height: 37px;
    width: 37px;
    border-radius: 60px;
    border: 1px solid rgba(250, 250, 250, 0.2);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: border-color 250ms linear, box-shadow 250ms linear;
}

.hero-social-link a, .hero-email a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;   
    height: 100%;  
    padding: 0;    
}

.hero-email {
    font-style: normal;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: -0.02em;
    border-radius: 60px;
    border: 1px solid rgba(250, 250, 250, 0.2);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 37px;
    width: 178px;
    transition: border-color 250ms linear, box-shadow 250ms linear;
}

.hero-social-link:hover,
.hero-social-link:focus,
.hero-email:hover, 
.hero-email:focus {
    border-color: #fafafa;
    box-shadow: 0 0 15px #ed3b44;
}

@media screen and (max-width: 375px) {
    .hero-section {
        background-size: cover;
    }
}

@media screen and (min-width: 375px) and (max-width: 415px) {
    .hero-email {
        font-size: 13px;
    }
}

@media screen and (min-width: 415px) and (max-width: 767px) {
    .hero-email {
        font-size: 14px;
    }
}

@media screen and (min-width: 375px) and (max-width: 767px) {
    .hero-contact-info {
        flex-direction: row;
        justify-content: flex-end; 
        align-items: center;
        gap: 8px;
    }
   
}

/* ----------------TABLET---------------- */
@media screen and (min-width: 768px) {
    .hero-section {

        background-size: cover;
        height: 1024px;
    }
    #hero .hero-box {
        gap: 187px;
       
    }

    
}
    

@media screen and (min-width: 768px) and (max-width: 1439px) {
    .hero-section {

        background-size: cover;
        height: 1024px;
    }


    #hero .hero-box {
        gap: 187px;
       
    }

    .main-headline {
        width: 632px;
        height: 450px;
        text-align: left;
        margin: 0;
    }
    

}

@media screen and (min-width: 768px) {
    #hero .hero-box {
        padding: 300px 32px 32px 32px;
    }

    .main-headline {
        display: flex;
        flex-wrap: wrap;
        font-size: 90px;
        justify-content: flex-start;
        text-align: start;
    }

    .hero-contact-info {
        flex-direction: row;
        justify-content: flex-end;
        gap: 8px;
        margin: 0;
    }

    .hero-social-link {
        width: 55px;
        height: 55px;
        font-size: 16px;
    }

    .hero-email {
        width: 223px;
        height: 55px;
        font-size: 16px;
    }
}

/* ----------------DESKTOP---------------- */

@media screen and (min-width: 1440px) {
    .hero-section {

        background-size: cover;
        margin-bottom: 96px;
        height: 900px;
    }


    #hero .hero-box {
        
        gap: 243px;
    }
    .main-headline{
        padding-left: 146px;
        

    }
}
