/* Основные стили для модального окна Work Together */
.workTogetherModal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
  visibility: visible;
  opacity: 1;
  transition: visibility 0s, opacity 0.5s ease-in-out;
}

.workTogetherModal .close {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 22px;
  color: #fafafa;
  cursor: pointer;
  z-index: 1001;
}

.workTogetherModal .modal-content {
  border: 1px solid rgba(250, 250, 250, 0.1);
  padding: 32px;
  width: 90%;
  max-width: 492px;
  height: auto;
  max-height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1c1d20;
  box-sizing: border-box;
  border-radius: 20px;
  z-index: 1001;
}

.workTogetherContainer {
  width: 100%;
  max-width: 368px;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #1c1d20;
  box-sizing: border-box;
  z-index: 1002;
}

.workTogetherModal h2 {
  font-family: 'Inter Tight', sans-serif;
  font-weight: 600;
  font-size: 20px;
  line-height: 1.5;
  letter-spacing: -0.04em;
  text-align: center;
  color: #fafafa;
  margin: 0 0 16px;
}

.workTogetherModal p {
  font-family: 'Inter Tight', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: -0.02em;
  text-align: center;
  color: rgba(250, 250, 250, 0.6);
  margin: 0;
}

@media (max-width: 375px) {
  .workTogetherModal .modal-content {
    padding: 16px;
    width: 90%;
    max-width: 343px;
    height: auto;
  }

  .workTogetherContainer {
    width: 100%;
    max-width: 279px;
    padding: 0;
  }

  .workTogetherModal .close {
    font-size: 20px;
  }

  .workTogetherModal h2 {
    font-size: 18px;
  }

  .workTogetherModal p {
    font-size: 14px;
  }
}

@media (min-width: 376px) and (max-width: 767px) {
  .workTogetherModal .modal-content {
    padding: 32px;
    width: 90%;
    max-width: 343px;
    height: auto;
  }

  .workTogetherContainer {
    width: 100%;
    max-width: 343px;
    height: auto;
  }
}

@media (min-width: 768px) {
  .workTogetherModal .modal-content {
    padding: 64px;
    width: 492px;
    height: 246px;
  }

  .workTogetherContainer {
    width: 364px;
    height: auto;
  }

  .workTogetherModal .close {
    font-size: 24px;
  }
}

@media (min-width: 1440px) {
  .workTogetherModal .modal-content {
    padding: 64px;
    width: 492px;
    height: 246px;
  }

  .workTogetherContainer {
    width: 364px;
    height: auto;
  }
}
