@import url('swiper/css');
@import url('../../node_modules/izitoast/dist/css/iziToast.min.css');

.reviews-container {
  padding: 0 16px;
}
.container.reviews-container {
  margin-bottom: 64px;
}
@media (min-width: 768px) {
  .reviews-container {
    padding: 0 32px;
  }
}


.section-headline {
  margin-bottom: 32px;
  color: #fafafa66;
  text-transform: uppercase;
  font-size: 16px;
  font-family: 'Inter Tight', sans-serif;
  font-weight: 600;
}

.reviews-section .swiper-slide {
  height: auto;
}

.reviews-item {
  display: flex;
  flex-direction: column;
  height: 100%;
  border: 1px solid rgba(250, 250, 250, 0.2);
  border-radius: 20px;
}
.reviews-item .element {
  padding: 32px 24px;
}

.review-section-img {
  border-radius: 10px;
  width: 48px;
  height: 48px;
  margin-bottom: 32px;
}
.reviews-title {
  font-family: 'Inter Tight', sans-serif;
  font-weight: 600;
  font-size: 20px;
  line-height: 1.5;
  letter-spacing: -0.02em;
  color: #fafafa;
  margin-bottom: 8px;
}
.reviews-text {
  font-family: 'Inter Tight', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: -0.02em;
  color: rgba(250, 250, 250, 0.6);
}

.reviews__nav {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  margin-top: 32px;
}

@media (min-width: 768px) {
  .reviews__nav {
    gap: 20px;
  }
  .container.reviews-container {
  margin-bottom: 96px;
}
}

.reviews-section .swiper-button-prev,
.reviews-section .swiper-button-next {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 52px;
  height: 52px;
background-color: #1C1D20;
  border: 1px solid rgba(250, 250, 250, 0.5);
  border-radius: 60px;
  transition: opacity 0.25s ease-in-out, background-color 0.25s ease-in-out,
    border-color 0.25s ease-in-out;
  cursor: pointer;
}

@media (min-width: 768px) {
  .reviews-section .swiper-button-prev,
  .reviews-section .swiper-button-next {
    width: 68px;
    height: 68px;
  }
}

.reviews-section .swiper-button-prev {
  transform: rotate(180deg);
}

.reviews-section .swiper-button-disabled {
  opacity: 0.2;
  cursor: default;
}

.reviews-section .swiper-button-prev:not(.swiper-button-disabled):hover,
.reviews-section .swiper-button-next:not(.swiper-button-disabled):hover,
.reviews-section .swiper-button-prev:not(.swiper-button-disabled):focus,
.reviews-section .swiper-button-next:not(.swiper-button-disabled):focus {
  background-color: #ed3b44;
  border-color: #ed3b44;
}
.reviews-notfound {
  text-align: center;
}
