/*  загальний відступ і фонове зображення */
.workTogetherSection {
  padding-top: 32px;
  padding-bottom: 32px;
  padding-left: 10px;
  background-image: url('../img/work-together/glass-effect-2.png');
  background-repeat: repeat-y;
  background-position-x: 290px;
}

@media screen and (min-resolution: 192dpi),
screen and (min-resolution: 2dppx),
screen and (min-device-pixel-ratio: 2) {
  .workTogetherSection {
    background-image: url('../img/work-together/glass-effect-2@2x.png');
  }
}

/* розмір фото */
.workTogetherPhoto {
  width: 44px;
  height: 44px;
  display: inline-block;
  margin-bottom: -8px;
  margin-right: 8px;
}

.workTogetherTitle {
  display: inline;
  text-transform: uppercase;
  font-size: 40px;
  line-height: 1.2;
  letter-spacing: -0.03em;
  color: #fafafa;
  font-weight: 400;
}

.workTogetherTitle .workWord {
  color: #ed3b44;
}

.workTogetherTitle .newLine {
  display: block;
}

.coopInputGroup {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 16px;
}

/* форма введен */
.coopForm {
  margin-top: 63px;
}

/* поле введен */
.coopInput {
  width: 100%;
  border: none;
  border-bottom: 1px solid rgba(250, 250, 250, 20%);
  background-color: transparent;
  height: 44px;
  padding-bottom: 5px;
  color: #fafafa;
}

.coopInput::placeholder {
  color: rgba(250, 250, 250, 60%);
}

.coopInput:focus,
.coopInput:active {
  outline-style: none;
  box-shadow: none;
  border-bottom: 1px solid rgba(250, 250, 250, 50%);
}

.coopInput.Success {
  border-bottom-color: #3cbc81;
  transition: border-bottom-color 250ms ease;
}

.coopInput.Invalid {
  border-bottom-color: #e74a3b;
  transition: border-bottom-color 250ms ease;
}

.coopInputItem {
  width: 350px;
}

.coopResultMsg {
  margin-top: 4px;
  font-size: 14px;
  line-height: 1.28;
  letter-spacing: -0.02em;
  color: #e74a3b;
  transition: color 250ms ease;
}

.coopResultMsg.Success {
  color: #3cbc81;
}

.coopResultMsg.Invalid {
  color: #e74a3b;
}

/* кнопка надсилання */
.coopSubmitBtn {
  margin-top: 32px;
  width: 100px;
  height: 100px;
  border: none;
  border-radius: 50%;
  color: #fafafa;
  background-color: #ed3b44;
  transition: background-color 250ms ease;
}

.coopSubmitBtn:hover,
.coopSubmitBtn:focus {
  background-color: #e0373f;
}

.contactsList {
  margin-top: 64px;
  display: flex;
  flex-wrap: wrap;
  gap: 4px;
}

.contactLink {
  display: flex;
  align-items: center;
  border: 1px solid rgba(250, 250, 250, 20%);
  color: #fafafa;
  font-size: 14px;
  padding: 10px 12px;
  border-radius: 60px;
  letter-spacing: -0.02em;
  line-height: 1;
  transition: border-color 250ms ease;
}

.contactLink:hover,
.contactLink:focus {
  border-color: #fafafa;
}


@media screen and (min-width: 768px) {
  .workTogetherSection {
    padding-top: 80px;
    padding-bottom: 169px;
    background-position-x: 570px;
    padding-left: 30px;
  }

  .workTogetherPhoto {
    width: 70px;
    height: 70px;
    margin-bottom: -12px;
    margin-right: 20px;
  }

  .workTogetherTitle {
    font-size: 64px;
  }

  .coopInputGroup {
    display: inline-flex;
    flex-direction: row;
    gap: 32px;
  }

  .coopInputItem {
    width: 245px;
  }

  .coopSubmitBtn {
    margin-top: 0;
    margin-left: 32px;
    width: 150px;
    height: 150px;
  }

  .coopForm {
    margin-top: 18px;
  }

  .contactsList {
    margin-top: 18px;
    gap: 8px;
  }

  .contactLink {
    padding: 18px 32px;
    font-size: 16px;
  }


}

@media screen and (min-width: 1440px) {
  .workTogetherSection {
    background-position-x: 1240px;
    padding-left: 196px;
  }

  .coopInputItem {
    width: 450px;
  }

  .coopInputGroup {
    gap: 32px;
  }

  .coopSubmitBtn {
    margin-left: 86px;
  }
}